.section_type_features
  padding: 101px 0 104px

  .section__content
    position: relative

  .section__swiper
    width: 584px
    height: 370px
    margin: auto
    overflow: hidden
    position: absolute
    z-index: 20
    left: 50%
    top: -47px
    transform: translateX(-50%)
    padding-bottom: 100px

  .swiper__image-box
    position: relative
    overflow: hidden

  .swiper__image
    display: block
    max-width: 100%


