@import "src/general/styles/vars/vars"

.svg-icon
  width: 100%
  height: 100%
  fill: currentColor

  &_content
    &_speed
      fill: $brandColorPrimary
      width: 34px
      height: 34px

    &_policy
      fill: $brandColorPrimary
      width: 34px
      height: 34px

    &_tap
      fill: $brandColorPrimary
      width: 34px
      height: 34px
      transform: rotate(-30deg)

    &_bright-stars
      fill: $brandColorPrimary
      width: 34px
      height: 34px

    &_price-arrow
      fill: #413d8b
      width: 88px
      height: 62px

    &_whatsap
      width: 40px
      height: 40px

    &_telegram
      width: 40px
      height: 40px

    &_viber
      width: 40px
      height: 40px

    &_inverted-commas
      fill: #322e5e
      width: 178px
      height: 134px

