@import "src/general/styles/vars/vars"

.section_type_works
  background: #f8f7fd
  padding: 52px 0 41px

  .section__header
    margin-bottom: 31px

.work-preview
  background: #fff
  padding: 15px 14px
  position: relative
  border-radius: 2px
  box-shadow: 0 10px 25px rgba(#e3d1ff, .004)
  border: 1px solid #efeef4
  font-size: 18px
  line-height: 24px

  &__img
    display: block
    max-width: 100%
    margin-bottom: 28px

  &__title
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 17px

  &__link
    color: #000

    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      border-radius: 2px
      transition: box-shadow .25s

    &:hover
      &::before
        box-shadow: 0 10px 25px #e3d1ff

  &__details
    margin-bottom: 75px

  &__price
    position: absolute
    bottom: 25px

  &__price-value
    color: $brandColorPrimary
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
