@import "src/general/styles/vars/vars"

.menu
  &_type
    &_main
      display: flex

      .menu__item
        font-size: 16px
        line-height: 20px

        &:not(:last-child)
          margin-right: 16px

      .menu__link
        display: block
        padding: 8px 16px
        color: $textColor
        transition: color .25s, transform .25s

        &:hover
          color: $brandColorPrimary
          transform: scale(1.05)

    &_social
      display: flex

      .menu__item
        &:not(:last-child)
          margin-right: 20px

      .menu__text
        font-size: 0
        line-height: 1

      .menu__icon
        width: 20px
        height: 20px

  &__link
    &_with-icon
      display: flex
      align-items: center

