@import "src/general/styles/vars/vars"

.list

  &_type
    &_welcome-features
      display: flex
      border: 1px solid $grayLight

      .list__item
        flex: 0 0 25%
        display: flex
        align-items: center
        box-sizing: border-box
        padding: 10px
        justify-content: center

        &:not(:last-child)
          border-right: 1px solid $grayLight

      .list__icon
        min-width: 34px
        margin-right: 16px
        display: inline-block

      .list__content
        font-size: 16px
        line-height: 24px
        text-transform: uppercase

    &_features-price
      display: flex
      flex-wrap: wrap
      counter-reset: priceList
      margin-bottom: -68px

      .list__item
        padding-right: 50px
        margin-bottom: 68px
        box-sizing: border-box

        &::before
          counter-increment: priceList
          content: '0' counter(priceList)
          display: block
          font-size: 36px
          font-weight: bold
          margin: 0 0 19px

        &:nth-child(3n+1)
          flex: 0 0 30%

        &:nth-child(3n+2)
          flex: 0 0 35%

        &:nth-child(3n+3)
          flex: 0 0 35%
          padding-right: 0

      .list__content
        font-size: 20px
        line-height: 30px

    &_works
      display: flex

      > .list__item
        flex: 1 0 0

        &:not(:last-child)
          margin-right: 30px

    &_work-preview
      .list__item
        &:not(:last-child)
          margin-bottom: 9px

    &_features
      height: 374px
      width: 646px
      border: 3px solid $grayLight
      margin: 0 auto
      position: relative

      .list__item
        font-size: 20px
        line-height: 30px
        font-weight: 700
        text-transform: uppercase
        position: absolute
        width: 280px
        box-sizing: border-box
        padding: 10px 0

        &::before
          content: ''
          position: absolute
          bottom: 2px
          background: #eee
          left: 0
          right: -23px
          height: 3px

        &:not(:nth-child(1n+4))
          right: 100%
          text-align: right
          transform: translateX(-23px)

          &::before
            left: 0
            background: linear-gradient(90deg, rgba($grayLight, 0), $grayLight)

        &:nth-child(1n+4)
          left: 100%
          transform: translateX(23px)

          &::before
            right: 0
            left: -23px
            background: linear-gradient(-90deg, rgba($grayLight, 0), $grayLight)

        &:nth-child(1),
        &:nth-child(4)
          top: 28px

        &:nth-child(2),
        &:nth-child(5)
          top: 138px

        &:nth-child(3)
          top: 248px

        &:nth-child(6)
          top: 278px
