@import "src/general/styles/vars/vars"

.section_type_price
  background: url('./section_type_price.jpg') 50% no-repeat
  background-size: cover
  color: #fff
  padding: 56px 0

  .section__container
    display: flex
    position: relative

  .section__header
    flex: 0 0 280px
    padding-right: 136px
    position: relative
    z-index: 20

  .section__title
    margin-bottom: 13px

  .section__decorate
    position: absolute
    z-index: 5
    top: -48px
    left: -105px

  .section__description
    strong
      color: $brandColorSecondary
      font-weight: 900

  .section__content
    padding: 3px 0 0

    &-title
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      font-size: 20px
      font-weight: 700
      text-transform: uppercase
      margin-top: -15px

    &-title-img
      left: 100%
      top: 50%
      transform: translateY(-50%)
      position: absolute
      margin-left: 20px

  .section__footer
    position: absolute
    z-index: 30
    bottom: -12px
    width: 280px
    box-sizing: border-box
    padding-right: 24px

  .section__contacts
    margin: 22px 0 12px
    font-size: 16px
    line-height: 22px

  .section__phone-link
    color: $brandColorSecondary
    font-weight: 900
    font-size: 20px
