@import "src/general/styles/vars/vars"

.button
  font-size: 16px
  cursor: pointer

  &_type
    &_primary
      font-weight: 700
      background: $brandColorSecondary
      color: $textColor
      border-radius: 2px
      padding: 15px 24px 11px
      text-transform: uppercase
      transition: background-color .25s

      &:hover
        background: $brandColorSecondaryHover

      &:active
        background: $brandColorSecondaryActive

    &_video-preview
      width: 54px
      height: 54px
      font-size: 0
      border-radius: 50%
      box-sizing: border-box
      border: 10px solid $brandColorSecondary
      position: relative
      transition: border-color .25s
      background: url("./video-preview.png") 50% no-repeat
      background-size: contain

      &:hover
        border-color: $brandColorSecondaryHover

      &:active
        border-color: $brandColorSecondaryActive

      &::after
        z-index: -1
        border-radius: 50%
        position: absolute
        content: ''
        left: -24px
        top: -24px
        right: -24px
        bottom: -24px
        background: #fff9f5

      &::before
        position: absolute
        content: ''
        background: url('./play.svg') 50% no-repeat
        background-size: contain
        width: 16px
        height: 16px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        margin-left: 2px

  &_wide
    width: 100%
