@font-face
  font-family: $primaryFont
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('../fonts/MullerRegular.eot') format('embedded-opentype'),
  url('../fonts/MullerRegular.woff') format('woff'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.ttf') format('truetype')

@font-face
  font-family: $primaryFont
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url('../fonts/MullerMedium.eot') format('embedded-opentype'),
  url('../fonts/MullerMedium.woff') format('woff'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.ttf') format('truetype')

@font-face
  font-family: $primaryFont
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url('../fonts/MullerBold.eot') format('embedded-opentype'),
  url('../fonts/MullerBold.woff') format('woff'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.ttf') format('truetype')

@font-face
  font-family: $primaryFont
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url('../fonts/MullerExtraBold.eot') format('embedded-opentype'),
  url('../fonts/MullerExtraBold.woff') format('woff'),
  url('../fonts/MullerExtraBold.woff2') format('woff2'),
  url('../fonts/MullerExtraBold.ttf') format('truetype')
