@import "src/general/styles/vars/vars"

.section__swiper
  position: relative

.swiper

  &_for
    &_features
      .swiper__button-next,
      .swiper__button-prev
        bottom: 21px

      .swiper-pagination
        bottom: 52px
        text-align: right

.swiper-slide
  opacity: 0
  transition: opacity .25s

.swiper-slide-active
  opacity: 1

.swiper__button-next,
.swiper__button-prev
  display: block
  width: 45px
  height: 45px
  position: absolute
  border-radius: 50%
  cursor: pointer
  border: 2px solid $grayLight
  box-sizing: border-box
  bottom: 0
  z-index: 20
  left: 50%
  transform: translateX(-50%)
  background: #fff
  background-size: 13px
  transition: background-color .25s, border-color .25s

  &::before
    content: ''
    position: absolute
    width: 13px
    height: 13px
    background: url('./arrow.svg') 50% no-repeat
    top: 50%
    left: 50%
    margin-top: 1px
    transform: translate(-50%, -50%)

  &:hover
    background: $brandColorPrimary
    box-shadow: 6px 0 18px rgba(#000, .2)
    border-color: transparent

    &::before
      background-image: url('./arrow_hover.svg')

  &.swiper-button-disabled
    pointer-events: none
    border-color: #fafafa

    &::before
      background-image: url('./arrow_disabled.svg')


.swiper__button-next
  margin-left: 45px

.swiper__button-prev
  margin-left: -45px

  &::before
    margin-left: -2px
    transform: translate(-50%, -50%) rotate(180deg)

.swiper-pagination
  font-size: 18px
  line-height: 24px
  color: $grayLighter
  font-weight: 700

  &-current
    font-weight: 500
    font-size: 36px
    line-height: 24px
    color: $brandColorPrimary

  &-total
    display: inline-block
    transform: translateX(-3px)
