@import "src/general/styles/vars/vars"
@import "src/general/styles/extends"

.section
  position: relative

  &__container
    @extend %maxWidth

  &__title
    font: 900 30px/36px $primaryFont
    text-transform: uppercase
