@import "src/general/styles/vars/vars"

.light-select
  width: 837px
  height: 455px
  background: url("./light-select.png") 0 -65px no-repeat
  position: relative

  &__switch
    position: absolute
    left: 0
    top: 28px
    padding-left: 118px
    z-index: 10

  &__image
    display: block
    position: absolute
    bottom: -9px
    left: 60px
    z-index: 5

  &__hero-image
    display: block
    position: absolute
    right: 5px
    top: 50px
    z-index: 5


.select-switch

  &__label
    font-size: 14px
    line-height: 16px
    color: $grayDark
    display: block
    max-width: 140px
    text-align: center
    margin-bottom: 8px
    box-sizing: border-box
    padding-right: 20px

  &__list
    margin-left: -118px
    background: #fff
    display: flex
    align-items: center
    border-radius: 40px
    justify-content: flex-end
    padding-right: 13px

  &__item
    width: 10px
    height: 10px
    border-radius: 50%
    font-size: 0
    margin: 14px 10px
    background: currentColor
    border: 1px solid currentColor
    cursor: pointer

    &_type
      &_gold
        color: #d9c79c

      &_white
        color: #fff
        border-color: #c9c9c9

      &_black
        color: #595959

      &_silver
        color: #c9c9c9
