@import "src/general/styles/extends"

.main-header
  box-shadow: 0 5px 10px rgba($textColor, .02)
  background: #fff

  &__container
    display: flex
    align-items: center
    padding-top: 16px
    padding-bottom: 16px

    @extend %maxWidth

  &__navigation
    margin-left: 24px

  &__aside
    margin-left: auto
    display: flex
    align-items: center

  &__callback-link
    font-size: 16px
    color: $gray
    text-decoration: none

    @extend %transitionColor

    &:hover
      color: $brandColorPrimary

  &__phone-link
    margin-left: 16px
    font-weight: 900
    font-size: 20px
    color: $brandColorPrimary



