@import "src/general/styles/vars/vars"

.section_type_welcome
  padding-bottom: 72px

  .section__container
    display: flex
    flex-wrap: wrap

  .section__header
    flex: 0 0 50%
    padding: 65px 0 0

  .section__title
    margin-bottom: 9px
    font-size: 36px
    line-height: 48px

  .section__description
    font-weight: 400
    font-size: 20px
    line-height: 30px
    padding-right: 80px

    strong
      font-weight: 900
      color: $brandColorPrimary

  .section__video-preview
    font-size: 16px
    line-height: 24px
    display: flex
    align-items: center
    padding: 24px 0
    margin-bottom: 26px

    strong
      font-weight: 900
      color: $brandColorPrimary

    &-text
      flex: 0 0 296px

    &-action
      transform: translateY(-4px)


  .section__main-action
    position: relative
    display: inline-block

    &::before
      position: absolute
      content: ''
      top: -40px
      left: -500%
      right: 0
      background: $grayExtraLight
      height: 2px

  .section__content
    position: relative
    flex: 0 0 50%

  .section__lightning
    position: absolute
    top: 0
    left: 0

  .section__footer
    margin-top: 80px
    flex: 1 0 100%
